@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}
*{
  margin: 0%;
  padding: 0%;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
body {
  color:black;
  background: white;
  font-family: Arial, Helvetica, sans-serif;

}

.check{
  background: #eaeaea;
}


::-webkit-scrollbar {
  width: 4px; /* Width of the scrollbar */
}

::-webkit-scrollbar-thumb {
  background-color: #700a00; /* Scrollbar thumb color */
  border-radius: 4px; /* Rounded corners */
}

::-webkit-scrollbar-track {
  background-color: transparent; /* Scrollbar track color */
}

/* For Firefox */
.custom-scrollbar {
  scrollbar-width: thin; /* "auto" or "thin" */
  scrollbar-color: #4b5563 #f3f4f6; /* thumb color, track color */
}